<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div class="container">
    <div class="row" style="background-color: #eeeeee; padding-left: 10px;">
        <div class="float-left" style="font-size: larger">
            <h1> Open<span style="color: red;">src</span>STEM</h1>
        </div>
    </div>
    <br><br>
    <p>
        By clicking the link, you've chosen to embrace a platform dedicated to the education of peoples across the
        globe.
        This sophisticated application merges the brilliance of certified proffessionals world-wide, consolidating their
        wisdom and experience right here! Our app allows these men and women a tool to diffuse their insights to those
        eager to acquire new skills.
    </p>

    <p>
        Availible classes through our application ranges from the standardized core classes to even the most enigmatic
        or surporfluous classes.
        That is, classes encompassing the likes of calculus, English and chemistry to the history of Nigerian Princes
        (and their malfeasances
        towards seniors) or a comparison of multilinguistic onomatopoeia.These are but a few lessons that'll reverberate
        and haunt you till your
        death-bed.
    </p>
    <p>
        We thank you for finding use for this application!
    </p>
    <br>
    <p>
        Open<span style="color:red;">src</span>STEM Team
    </p>
    <br><br>
    <p>You can now close this page.</p>
</div>


</body>
</html>